<h1>Edit Profile</h1>

<form action="/robots/<%= @robot.id %>" method="post">
  <input type="hidden" value="PUT" name="_method">

  <p>Edit Name:</p>

  <input type="text" name="robot[name]" value="<%= @robot.name %>"/><br/>

  <p>Edit City & State:</p>

  <input type="text" name="robot[city]" value="<%= @robot.city %>"/> <input type="text" name="robot[state]" value="<%= @robot.state %>"/>

  <p>Edit Birthdate:</p>

  <input type="text" name="robot[birthdate]" value="<%= @robot.birthdate %>"/>

  <p>Edit Date Hired:</p>

  <input type="text" name="robot[date_hired]" value="<%= @robot.date_hired %>"/>

  <p>Edit Department:</p>

  <input type="text" name="robot[department]" value="<%= @robot.department %>"/>

  <p>Edit Avatar:</p>

  <textarea type="text" name="robot[avatar]"><%= @robot.avatar %></textarea>
  <br>
  <br>
  <input type="submit" value="Update Your Profile"/>
</form>
